In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
#create DB engine
db_engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')

In [3]:
#test query
df = pd.read_sql_query('SELECT * FROM Members LIMIT 5', db_engine)
print(df)

OperationalError: (sqlite3.OperationalError) no such table: Members
[SQL: SELECT * FROM Members LIMIT 5]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members! 

query_string = 'SELECT \
                f.name,\
                SUM(\
                    CASE\
                        WHEN b.memid = 0 THEN b.slots * f.guestcost ELSE b.slots * f.membercost\
                    END\
                ) as total_revenue\
                FROM Facilities f \
                    JOIN Bookings b ON f.facid = b.facid\
                GROUP BY f.name\
                HAVING total_revenue < 1000\
                ORDER BY total_revenue;'
df_10 = pd.read_sql_query(query_string,db_engine)
print(df_10)

In [ ]:
# Q11: Produce a report of members and who recommended them in 
#alphabetic surname,firstname order 

query_string = \
'SELECT \
    m1.firstname AS Member_firstname, \
    m1.surname AS Member_lastname, \
    m2.firstname AS Recommender_firstname, \
    m2.surname AS Recommender_lastname \
FROM Members m1 \
    INNER JOIN Members m2 ON m1.recommendedby = m2.memid AND m1.recommendedby <> 0 \
ORDER BY \
    Member_lastname, \
    Member_firstname;'

df_11 = pd.read_sql_query(query_string, db_engine)
print(df_11)

In [ ]:
# Q12: Find the facilities with their usage by member, but not guests 
query_string = \
'SELECT \
    f.name AS FacilityName, \
    SUM(b.slots) AS MemberUsage \
FROM Facilities f \
    LEFT JOIN Bookings b ON f.facid = b.facid \
WHERE \
    b.memid <> 0 \
GROUP BY \
    f.name'

df_12 = pd.read_sql_query(query_string, db_engine)
print(df_12)

In [ ]:
# Q13: Find the facilities usage by month, but not guests 
query_string = \
'SELECT \
    f.name as FacilityName, \
    strftime(\'%m\', b.starttime) as month, \
    SUM(b.slots) as MemberUsage \
FROM Facilities f \
    LEFT JOIN Bookings b ON f.facid = b.facid \
WHERE \
    b.memid <> 0 \
GROUP BY \
    FacilityName, \
    month;'

df_13 = pd.read_sql_query(query_string,db_engine)
print(df_13)